*
!*/

!.gitignore

!misc.py

!exists_perf.py
!bulk_insert.py
!batch_update_perf.py
!dependencies.py
!test_indexes.py
!perf_httpapocalypse.py

!res_exists_perf/*.log
!memory_shared_lru/*.py
!not_in_selection/*.py
!not_in_selection/*.log