*
!*/

!.gitignore

!misc.py

!exists_perf.py
!exists_issue.py
!bulk_insert.py
!batch_update_perf.py
!dependencies.py
!test_indexes.py
!test_count.py
!perf_httpapocalypse.py
!test_website_perf.py
!psql_log.md
!exists_smarty.py
!modified_trigger_perf.py

!res_exists_perf/*.log
!memory_shared_lru/*.py
!memory_shared_lru/*.md
!not_in_selection/*.py
!not_in_selection/*.log
!new_read_group/*.py
!new_read_group/*.txt
!expression_tests.sql
!aggregate_perf.py

!read_group_replacement.py